[build]
  command = "npm run build"
  publish = "dist"

# Pour que React Router fonctionne en production (toutes les routes -> index.html)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
